.bio-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* min-height: 60%; */
    width: 100%;
    padding: 8%;
    background-color: white;
    font-family: "jet";
}

.slide-left {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slideFromLeft;
  animation-duration: 2s;
  visibility: visible;
  height: 50vh;
  width:50vh;
  background-image: url("../images/amelia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  box-shadow: 10px 10px 10px rgb(152, 149, 149);
}

.slide-right {
    animation-name: slideFromRight;
    animation-duration: 2s;
    visibility: visible;
    width: 30vw;
    margin-left: 8%;
}

.hidden {
    display: none;
}


/*  ANIMATIONS  */
@keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-70%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(70%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

@media only screen and (max-width: 900px) {
  .bio-component {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 40vh;
      /* width: 100vw; */
      padding: 8%;
      background-color: white;
      font-family: "jet";
  }

.slide-left {
    animation-name: slideFromLeft;
    animation-duration: 2s;
    visibility: visible;
    height: 10rem;
    width:10rem;
    background-image: url("../images/amelia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    box-shadow: 10px 10px 10px rgb(152, 149, 149);
  }

.slide-right {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: slideFromRight;
    animation-duration: 2s;
    visibility: visible;
    width: 30vw;
    height: 25vh;
    /* margin-left: 8%; */
    margin-right: 8%;
    font-size: .5rem;
  }
}