.footer-component {
    height: 10vh;
}

.home-f {
    background-image: url(" /Users/ameliaeiger/projects/portfolio/src/images/bottomcrop2.png");
    background-size: cover;
    background-position: center;
}

.portfolio-f {
    background-image: url("/Users/ameliaeiger/projects/portfolio/src/images/treebottom.png");
    background-size: cover;
    background-position: center;
}