.header-div {
    height: 50vh;
}

.home {
    background-image: url("../images/plains.png");
    background-size: cover;
    background-position: center;
}

.portfolio {
    background-image: url("../images/treetop.png");
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 900px) {
    .header-div {
        height: 20vh;
        width: 100vw;
    }

    .home {
        background-position: center;
        background-repeat: no-repeat;
    }
}