.header-div {
    height: 50vh;
}

.home {
    background-image: url("https://i.imgur.com/0oa5LZE.png");
    background-size: cover;
    background-position: center;
}

.portfolio {
    background-image: url("https://i.imgur.com/Ig5fVns.png");
    background-size: cover;
    background-position: center;
}