.portfolio-component {
    height: 100%;
    display: flex;
    justify-content: center;
}

.feature-wrapper {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-title {
    font-family: "jet";
}

.feature-image {
    display: flex;
    height: 40%;
    width: 40%;
    max-height: 80%;
}

.discoverd-image {
    max-height: 50vh;
    max-width: auto;
}

.mySwiper {
    align-items: center;
    justify-content: center;
}